<!DOCTYPE html>
<html>
<head>
<title>control robotarm</title>

<script src="{{ url_for('static', filename='javascript/slidebar.js') }}"></script>
</head>
<body>
<div class="Container" >
  <form id="robotarmdata" action="{{ url_for('indexPost') }}" method="POST">
    <font size = 2 id = "slider_value_view">{{ value }}</font>						  
    <input style = "width:50%;" id="slider_range" type="range" value="{{ vaule }}" min="3" max="12" onchange="sendValue()"></input><br />
  </form>
</div>
</body>
</html>