body {
  align-items: center;
  /* background-color: #c2e9fb; */
  background: linear-gradient(90deg, #feac5e 0%, #c779d0 50%, #4bc0c8 100%);
}

.motorSlider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.motorSlider:hover {
  opacity: 1;
}

.motorSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.motorSlider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
}

.red::-webkit-slider-thumb {
  background: red;
}
.red::-moz-range-thumb {
  background: red;
}
#m2Slider::-webkit-slider-thumb {
  background: green;
}
#m2Slider::-moz-range-thumb {
  background: green;
}
.blue::-webkit-slider-thumb {
  background: rgb(75, 75, 197);
}
.blue::-moz-range-thumb {
  background: rgb(75, 75, 197);
}
#m4Slider::-webkit-slider-thumb {
  background: rgb(229, 255, 0);
}
#m4Slider::-moz-range-thumb {
  background: rgb(229, 255, 0);
}
#m5Slider::-webkit-slider-thumb {
  background: rgb(195, 0, 255);
}
#m5Slider::-moz-range-thumb {
  background: rgb(195, 0, 255);
}
#m6Slider::-webkit-slider-thumb {
  background: rgb(0, 225, 255);
}
#m6Slider::-moz-range-thumb {
  background: rgb(0, 225, 255);
}

.motorNumber {
  all: unset;
}

.container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.robotArmDiv {
  display: flex;
  background: linear-gradient(90deg, #a1c4fd 0%, #c2e9fb 100%);

  border-radius: 20px;
  border-width: 3px;
  border-style: solid;
  border-color: white;
  padding: 10px;
  box-shadow: 0px 2px 2px;
  align-items: center;
  flex-direction: column;
}

.robotArmTitle {
  display: flex;
  font-size: 30px;
  font-weight: bold;
}

.robotArmTable {
  display: flex;
  width: 700px;
  flex-direction: column;
}

.motorNumber {
  font-weight: bold;
  width: 55px;
}

.twinkle {
  animation-name: twinkle;
  animation-duration: 1s;
}

@keyframes twinkle {
  50% {
    color: red;
    transform: scale(1.2);
  }
}

.robotArmRefresh {
  display: flex;
  background: radial-gradient(#fdfbfb 0%, #ebedee 100%);
  width: 30px;
  height: 30px;
  margin-left: 30px;
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 0px 3px 3px;
}

.robotArmRefresh:hover {
  opacity: 0.5;
}

.robotArmRefresh:active {
  transform: scale(0.9);
}
